/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
.text-happy {
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-happy h1 {
  font-family: "Lobster", cursive;
  text-align: center;
  line-height: 70px;
}
.text-happy h1:first-child {
  font-size: 50px;
}
.text-happy h1:last-child {
  font-size: 50px;
}
.slide-button {
  position: absolute;
  transition: top 0.5s, left 0.5s;
}
